<ion-view view-title="Code for User">
    <ion-content class="padding">
        <form name="codeForm" ng-submit="createCode(codeForm)" novalidate>

            <!--row 1-->
            <div class="row">
                <div class="col col-100 padding">
                    Select the user's firm and user type. Enter the user's email, generate new code, and submit. You must also select the property if the user type is tenant.
                </div>
            </div>

            <!--select firm-->
            <div class="row" ng-show="isAdmin">
                <div class="col col-100 padding">
                    <div class="list">
                        <label class="item item-input item-select">
                        <div class="input-label">
                        Firm
                        </div>
                        <!--take note of the syntax of the ng-options directive.  Must be exactly like this.-->
                        <select name= "selectFirm" ng-model="temp.firm" ng-options="firm as firm.name for firm in firms track by firm.id">
                            <option value="" disabled ng-selected = true>Select firm...</option>  
                        </select>
                        </label>
                    </div>
                </div>
            </div>
            


            <!--select user type-->
            <div class="row">
                <div class="col col-100 padding">
                    <div class="list">
                        <label class="item item-input item-select" ng-class="{ 'has-errors' : codeForm.selectUserType.$invalid && codeForm.$submitted}">
                        <div class="input-label">
                        User type
                        </div>
                        <select name= "selectUserType" ng-model="codeUser.userType"  required>
                          <option value="" disabled ng-selected = true>Select user type...</option>
                          <option value="lead" ng-show="isLead">Lead</option>
                          <option value="manager" ng-show="isLead">Manager</option>
                          <option value="tenant" ng-show="isManager">Tenant</option>
                        </select>
                        </label>
                    </div>
                </div>
            </div>
            
            
            <!--select property todo: add code validation for this control-->
            <div class="row" ng-show="codeUser.userType == 'tenant'">
                <div class="col col-100 padding">
                    <div class="list">
                        <label class="item item-input item-select">
                        <div class="input-label">
                        Property
                        </div>
                        <select name= "selectProperty" ng-model="temp.property" ng-options="prop as prop.name for prop in properties track by prop.id">
                        <option value="" disabled ng-selected = true>Select property...</option>  
                        </select>
                        </label>
                    </div>
                </div>
            </div>            


            <!--row 5-->
            <div class="row">
                <div class="col col-100 padding">
                    <label class="item item-input" ng-class="{ 'has-errors' : codeForm.email.$invalid && codeForm.$submitted}">
                    <input name="email" type="email" placeholder="Email" ng-model="codeUser.email" required>
                    </label>
                </div>
            </div>


            <!--row 6-->
            <div class="row">
                <div class="col col-50 padding">
                    <label class="item item-input" ng-class="{ 'has-errors' : codeForm.code.$invalid && codeForm.$submitted}">
                    <input name="code" type="text" ng-readonly=true placeholder="Code" ng-model="codeUser.regCode" required>
                    </label>
                </div>
                <div class="col col-50 padding">
                    <button type="button" class="button button-block button-positive" ng-click="generateCode()">
                    Generate
                    </button>
                </div>
            </div>

            <!--row 7-->
            <div class="row">
                <div class="col col-50 padding">
                    <input type="submit" value="Submit" class="button button-block button-positive">
                </div>
                <div class="col col-50 padding">
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
