<ion-view view-title="Common">
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="logout()">
        Logout
      </button>
    </ion-nav-buttons>  <ion-content class="padding">
    <button class="button button-block button-positive" ui-sref='admin' ng-show="isAdmin">
        SSF Admin
    </button>
    <button class="button button-block button-positive" ui-sref='lead' ng-show="isLead">
        Lead Functions
    </button>
    <button class="button button-block button-positive" ui-sref='manager' ng-show="isManager">
        Manager Functions
    </button>
  </ion-content>
</ion-view>