<ion-view view-title="Menu">
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="logout()">
        Logout
      </button>
    </ion-nav-buttons>  <ion-content class="padding">
    <button class="button button-block button-positive" ui-sref='admin'>
        SSF Admin
    </button>
    <button class="button button-block button-positive" ui-sref='lead'>
        Lead Functions
    </button>
    <button class="button button-block button-positive" ui-sref='manager'>
        Manager Functions
    </button>
    <button class="button button-block button-positive" ui-sref='tenant'>
        Tenant Services
    </button>        
  </ion-content>
</ion-view>