<ion-view view-title="SSF Admin">
    <ion-nav-buttons side="right">
        <button class="button button-clear " ng-click="logout()">
        Logout
      </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <button class="button button-block button-positive" ui-sref="codeFirm">
            Registration Code for Firm
        </button>
        <button class="button button-block button-positive" ui-sref="codeUser">
            Registration Code for User
        </button>
        <button class="button button-block button-positive">
            View Firms
        </button>      
        <button class="button button-block button-positive">
            Update My Profile
        </button>              
    </ion-content>
</ion-view>