<ion-view view-title="Tenant Services">
    <ion-nav-buttons side="right">
        <button class="button button-clear " ng-click="logout()">
        Logout
      </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <button class="button button-block button-positive">
            View Property
        </button>
        <button class="button button-block button-positive" ui-sref="request-maintenance">
            Create Maintenance Request
        </button>             
        <button class="button button-block button-positive">
            My Maintenance Requests
        </button>
        <button class="button button-block button-positive">
            Update My Profile
        </button>            
    </ion-content>
</ion-view>