<ion-view view-title="Manager">
    <ion-nav-buttons side="right">
        <button class="button button-clear " ng-click="logout()">
        Logout
      </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <button class="button button-block button-positive"  ui-sref='code-user'>
            Registration Code for Tenant
        </button>
        <button class="button button-block button-positive"  ui-sref='add-property'>
            Add Property
        </button>             
        <button class="button button-block button-positive">
            View Property
        </button>
        <button class="button button-block button-positive">
            Create Task
        </button>           
        <button class="button button-block button-positive">
            My Tasks
        </button>
        <button class="button button-block button-positive">
            Update My Profile
        </button>              
    </ion-content>
</ion-view>